<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189688316722-2nnfbpo2jaj4apb3s7q712no9612uu0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189688316722-2nnfbpo2jaj4apb3s7q712no9612uu0e</string>
	<key>API_KEY</key>
	<string>AIzaSyDzRKYP4zI82g2irWLZ9lzmNLgvhsRXDsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>189688316722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.happyMedium.BootBarn-iOS-Demo</string>
	<key>PROJECT_ID</key>
	<string>boot-barn-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>boot-barn-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189688316722:ios:58637655c0cf1b62eb4d2b</string>
</dict>
</plist>